<div class="change-password-container">
    <h2>Alterar Senha</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha Atual</mat-label>
        <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" formControlName="currentPassword" required>
        <button mat-icon-button matSuffix type="button" (click)="hideCurrentPassword = !hideCurrentPassword">
          <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error [appControlErrorDisplay]="form.get('currentPassword')!"></mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nova Senha</mat-label>
        <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword" required>
        <button mat-icon-button matSuffix type="button" (click)="hideNewPassword = !hideNewPassword">
          <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error [appControlErrorDisplay]="form.get('newPassword')!"></mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirmar Nova Senha</mat-label>
        <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" required>
        <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword">
          <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error [appControlErrorDisplay]="form.get('confirmPassword')!"></mat-error>
      </mat-form-field>
  
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || isLoading" class="full-width">
        <mat-icon>save</mat-icon>
        Salvar Nova Senha
      </button>
    </form>
  </div>