.change-password-container {
    padding: 20px;
    max-width: 400px;
    margin: auto;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 15px;
  }
  
  button.full-width {
    margin-top: 10px;
  }