/* src/app/features/auth/pages/forgot-password/forgot-password.component.scss */
@use '../login/login.component.scss'; /* Agora importa diretamente os estilos do login */

// Ajustes específicos para o indicador de senha, para que ele se alinhe dentro da coluna
.password-strength-indicator {
    margin-bottom: 15px;
    width: 100%;
    text-align: right;
    padding-right: 15px; /* Ajuste para alinhar com o padding da coluna */
  
    mat-progress-bar {
      height: 6px;
      border-radius: 3px;
    }
  
    span {
      font-size: 0.8em;
    }
    span.strength-text-warn { color: #ff0000; font-weight: bold; }
    span.strength-text-accent { color: #ff9900; font-weight: bold; }
    span.strength-text-primary { color: #008000; font-weight: bold; }
  }