<mat-toolbar color="primary">
    <img src="logo.jpg" alt="PetShop Logo" class="app-logo" />
  
    <span class="spacer"></span>
  
    <mat-form-field class="search-field" appearance="outline">
      <mat-label>Pesquisar telas</mat-label>
      <input matInput [formControl]="searchControl" placeholder="Ex: Dashboard" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  
    <span class="spacer"></span>
  
    <button
      mat-button
      [matMenuTriggerFor]="profileMenu"
      class="profile-button"
      matTooltip="Perfil do Usuário"
    >
      <mat-icon *ngIf="!userProfile?.foto" class="profile-icon"
        >account_circle</mat-icon
      >
      <img
        *ngIf="userProfile?.foto"
        [src]="userProfile?.foto"
        alt="Foto de Perfil"
        class="profile-picture"
      />
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu">
      <a mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Meu Perfil</span>
      </a>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
  </mat-toolbar>